
<!DOCTYPE HTML>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>

    <link rel="stylesheet" href="/static/css/search.css" type="text/css"/>
    <title>Search</title>
    <script type="text/javascript" src="/static/jsorigin/jquery.js"></script>
    <script type="text/javascript" src="/static/jsorigin/zd_search.js"></script>
    <script type="text/javascript" src="/static/jsorigin/socket.io.js"></script>




</head>
<body>
<h1>Search Twitter</h1>


<div style="clear:both"></div>

<br>



<input  type="text" class="word" />

<input class="btns" id="button" type="submit" value="query"/>

<div class="lst" id="lst">
</div>





</body>
</html>